.game-ui_info {
    grid-area: i;
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 700px) {
    .game-ui_info {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}

.game-ui_settings {
    grid-area: s;
}

.game-ui__panel {
    width: 100%;
}

.game-ui__title {
    margin-bottom: 0.5rem;
}

.game-ui_option {
    margin: 1.5rem 0;
}

.game-ui__colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 250px;

    cursor: pointer;
}

.game-ui__color {
    min-width: 4rem;
    height: 4rem;
}
