body {
    background-color: var(--body-bg);
    color: var(--text-base-color);
}

.game-area {
    box-sizing: content-box;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(auto, 85vh) min-content;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        'i s'
        'g s';
    place-content: center;

    margin: 0 auto;
    padding: 2.5rem;
}

@media screen and (max-width: 700px) {
    .game-area {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'g g'
            's i';
    }
}

.game-area__wrapper {
    position: relative;

    grid-area: g;

    width: 100%;
    padding-top: 100%;
}

#js-canvas {
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
