.popup {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;

    display      : none;
    place-content: center;
}

.popup.popup_shown {
    display: grid;
}

.popup::before {
    content: '';

    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
}

.popup__inner {
    padding: 3rem 4.5rem;

    background-color: #fff;
    border-radius   : .4rem;

    z-index: 1;
}

.popup__body {
    margin: 4.5rem 0;
}
